{% macro timeoutDialog(viewText, crmBasePath, idlePeriod, visiblePeriod) %}
    {% set defaultIdlePeriod = 15 %}
    {% set defaultVisiblePeriod = 2 %}
    <dialog
            class="govuk-timeout-warning dialog"
            data-module="govuk-timeout-warning"
            id="js-timeout-warning"
            data-minutes-idle-timeout="{{ idlePeriod or defaultIdlePeriod }}"
            data-minutes-modal-visible="{{ visiblePeriod or defaultVisiblePeriod }}"
            data-url-redirect="{{ crmBasePath }}/timeout"
            data-warning-text1="{{ viewText.timeout_warning1 }} "
            data-warning-text2=""
            data-warning-text3=""
            data-warning-minute="{{ viewText.timeout_minute }}"
            data-warning-second="{{ viewText.timeout_second }}"
            data-warning-redirect="{{ viewText.timeout_redirect }}"
            role="dialog"
            aria-live="polite"
            aria-labelledby="dialog-title"
            aria-describedby="at-timer"
    >
        <h1 id="dialog-title" class="govuk-heading-l">
            {{ viewText.timeout_header }}
        </h1>
        <div class="govuk-body">
            <div class="timer" aria-hidden="true" aria-relevant="additions"></div>
            <div
                    class="at-timer govuk-visually-hidden"
                    role="status"
                    id="at-timer"
            ></div>
        </div>
        <button
                class="govuk-button dialog-button js-dialog-close"
                data-module="govuk-button"
        >
            {{ viewText.continue }}
        </button>
        {{ signoutAnchor(crmBasePath, viewText.timeout_sign_out, '', 'timeout_sign_out') }}
    </dialog>
{% endmacro %}

{% macro scriptIncludes(assetPath, activateTimeout) %}
    <script src="{{ assetPath }}/all.js"></script>
    {% if activateTimeout %}
        <script src="{{ assetPath }}/govuk-dialog-polyfill.js"></script>
        <script src="{{ assetPath }}/govuk-timeout-warning.js"></script>
    {% endif %}
    <script>
      (function() {
        if (window.GOVUKFrontend) {
          window.GOVUKFrontend.initAll()
        } else {
          console.error('Could not find window.GOVUKFrontend');
        }
          {% if activateTimeout %}
        if (window.GOVUKFrontendTimeout) {
          window.GOVUKFrontendTimeout.initTimeout()
        } else {
          console.error('Could not find window.GOVUKFrontendTimeout');
        }
          {% endif %}
      })();
    </script>
{% endmacro %}

{% macro signoutAnchor(basePath, text, css, dataHook) %}
    {% set styleFragment = '' %}
    {% if css %}
        {% set styleFragment = 'style="' + css + '"' %}
    {% endif %}
    <a
        class="govuk-link"
        href="{{basePath}}/logout?backToPath={{basePath}}/finaliselogout"
        data-hook="{{ dataHook or 'sign_out_link' }}"
        {{ styleFragment }}
    >{{ text }}</a>
{% endmacro %}
